$color-white: white !default;
$color-black: black !default;
$color-blackopacity: rgba(0, 0, 0, 0.891);
$color-greyopacity: #434343;
$color-greyclear: #ffffff96;
$color-lightblue: lightblue;
$color-purple: #5000ca;
$color-celestetable: rgba(53, 116, 163, 0.679);
