.cripto{ 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    text-align: justify;
}


.padre1{
    text-align: justify;
    display: grid; 
    place-items: center; 
}

.accordion{
    padding: 15px 15px;
    margin: 15px 15px;
}